googletrans==3.0.0
gTTS==2.3.2
numpy==1.24.3
openai==0.27.8
pandas==2.0.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
SpeechRecognition==3.10.0
streamlit==1.24.0
streamlit-ace==0.1.1
streamlit-chat==0.1.1
streamlit-custom-notification-box==0.1.2
streamlit-option-menu==0.3.6
plotly==5.15.0
pyttsx3==2.90
comtypes==1.2.0
pyaudio
